<div><center bgcolor="#fafbfc" style="width:100%;background-color:#fafbfc">
    <div id="m_-7587314173862219477maincontent" style="max-width:620px;font-size:0">
        <div class="m_-7587314173862219477preheader" style="font-size:1px;line-height:1px;display:none!important">Let's get started!</div>

        
        <table border="0" cellpadding="0" cellspacing="0" style="width:100%">
            <tbody>
<tr>
                <td>
                    <table border="0" cellpadding="0" cellspacing="0" style="width:100%">
                        <tbody>
<tr>
                            <td align="center" style="padding-bottom:20px">
                                <table border="0" cellpadding="0" cellspacing="0" style="font-family:'Open+Sans','Open Sans',Helvetica,Arial,sans-serif;font-size:14px;line-height:18px;color:#00c0ea;text-align:center;width:152px">
                                    <tbody>
<tr>
                                        <td style="padding:20px 0 10px 0">
                                            <a href="#m_-7587314173862219477_tba" style="text-decoration:none"><img alt="Udacity" border="0" height="27" src="" style="display:block;width:152px!important;font-family:'Open+Sans','Open Sans',Helvetica,Arial,sans-serif;font-size:22px;line-height:26px;color:#000000;text-transform:uppercase;text-align:center;letter-spacing:1px" width="152" title="Image: https://s3-us-west-2.amazonaws.com/udacity-email/Footer/udacity-logo.jpg" class="CToWUd"></a>
                                        </td>
                                    </tr>
                                </tbody>
</table>
                            </td>
                        </tr>
                    </tbody>
</table>
                </td>
            </tr>
            <tr>
                <td>
                    <table border="0" cellpadding="0" cellspacing="0" style="width:100%">
                        <tbody>
<tr>
                            <td bgcolor="#fafbfc" style="width:7px;font-size:1px">&nbsp;</td>
                            <td bgcolor="#f5f6f7" style="width:1px;font-size:1px">&nbsp;</td>
                            <td bgcolor="#f0f2f3" style="width:1px;font-size:1px">&nbsp;</td>
                            <td bgcolor="#edeef1" style="width:1px;font-size:1px">&nbsp;</td>
                            <td bgcolor="#ffffff">
                                <table border="0" cellpadding="0" cellspacing="0" style="width:100%">
                                     <tbody>
<tr>
                                        <td style="text-align:center;padding:40px 40px 40px 40px;border-top:3px solid #02b3e4">
                                            

                                        
                                            <div style="display:inline-block;width:100%;max-width:520px">
                                                <table border="0" cellpadding="0" cellspacing="0" style="font-family:'Open+Sans','Open Sans',Helvetica,Arial,sans-serif;font-size:14px;line-height:24px;text-align:left;width:100%">
                                                    <tbody>
<tr>
                                                        <td style="color:#525c65">
                                                            <p style="Margin:0 0 15px 0;font-size:18px;line-height:23px;color:#102231;font-weight:bold">ashu, welcome to Android Basics: Data Storage!</p>

                                                            <p style="Margin:25px 0 0 0">In this course, you'll learn the basics of data storage in Andriod, building your first database and an app that could be used for any small business!</p>

                                                            <p style="Margin:15px 0 0 0">Ready to start learning? Great! And remember, accelerate if you want to, or slow down if you need to. At Udacity, you learn at your own pace!</p>
                                                        </td>
                                                    </tr>
                                                </tbody>
</table>
                                            </div>
                                            
                                        </td>
                                    </tr>
                                    <tr>
                                        <td style="text-align:center;padding:0 40px 10px 40px">
                                            
                                            <div style="display:inline-block;width:100%;max-width:520px">
                                                <table border="0" cellpadding="0" cellspacing="0" style="font-family:'Open+Sans','Open Sans',Helvetica,Arial,sans-serif;font-size:18px;line-height:24px;color:#55606a;text-align:center;width:100%">
                                                    <tbody>
<tr>
                                                        <td align="center" style="padding-bottom:5px">
                                                            <table border="0" cellpadding="0" cellspacing="0" style="border-collapse:separate!important;border-radius:15px;width:220px">
                                                                <tbody>
<tr>
                                                                    <td align="center" valign="top">
                                                                    
                                                                        <a href="http://click.udacity.com/wf/click?upn=cxW5taFDwNPiBlnjFn-2BIG0ypk2YE4IZomQJHId-2Brw-2BEcurvjgT1rksjwfzR-2B3j9Y5mIig3h-2FJQ9riFFNuO-2FEPy3ktqyaEoEOOgXRMXY72LNDUQEK-2BIS2ow-2Fenx97-2FkoEZrdf03z4-2Bbu4WlU8qssPSnwpWmrru9YqlNnPLCq74r6hSsgPdBr76DU29CuGN4Rc2LXZB38-2BFLdao70w2lF4oW1qXWBsqKu6wmqxO8wm6pOvvHRVEowHIdeEX2ZOiEV0z0SspXXluebRZQg7fyuBaAt2VoUOjznG1IENEBxSyC-2FScV3zdxfrcIOBsczOS5HQaDeF1ggjdO1GZ3RFQ-2BFa-2BLjMQYdfTo6ej4JifwSIOEBgPnYefKn5cx974suUJiHs_DBVLJ0CvsxgxpopeyHXOVsV-2FhAQSrhnf0T0oDEtb66eCWCBrtl2ZKGyVr8UUGR05iCsGwUfrB7PGUJtU3hmSRX8A9ldlHto8avFm-2FmpIVIWZ1cEAscZomXKvYNIyHgPTo0E23Z6iXl5X3zxAVnav4PggiGET3Vv1LJks31QEuhBWDD4wyQFTbo5RyOw7bLxLsbtpKmc2kdZsR6L4xwXRrMlh14CaCdkLa-2FiiI-2B9zzn0QORTlgWe3JyTtpsd92sT9KdCDA06RhrL0islMwrpJsaKOdIUkjTenT3y75srgA0flovIBFKAmGVeENcGlPLHhi6QLm-2FqG8P9-2FBUOah9wTZ1CfKGfixVXIh2SBJUz-2Flk7MfmlHjdGEIm-2FZYcXy5Il5Mepp70fCtYMagK4xLsHIS5Aau8Vncx-2Fer9QBtiGonuuNRjsjhDLbMZ5SxGsnSzSMI0o1Muqb-2BzvFY3tjfYUOJSNXCLzYn-2FYqPic1YifQgzKFxWocmoPP1PRjeqfmB2toUaiFdBul5yi80SHiEnp248rriTiZRoSciMoPES-2FWzlNJjt1ygRyF6aCY7rr5fSG-2FYDuAhlpfV25JrKGnXigCLOsQmG0UWfhQu2onO3ZzsTCzCD6rz7aefyPtLSPioa6Rfv40JPHYLbT6y-2BuDdzSSzO7LqmFwSOwcikABpl76V8QiYLfAD4rmpP0l5rCGL3uMoIAwsbF6LHDYzxKnnvZKb-2BKgmVqvL9BYUzmrw3mSeahbU5XnsSuQ-2BZCkGFwiWUpcndKKOO1mmiJ-2FCxzQXquvT6UVAPFslFMYL2EJNTscQe5iQXkBVA83Mgw9EMQoKeKcajggSoQipTpfPkOty8MA7UOWL581Kp3XA6eaFTKIK8Uo0yl8WnRmUGlQxhLYeNcqDJajYpbVYyN-2FWd1rw-2B3-2B0T-2B3FX9DQwfjSHF4JOFP1I2gXBeX5OVUhND0A32OIebEyB-2F-2Bb0kS1cminGRVK60-2FL0g-2F-2BHpMD2VlpAZI6XxkvFI-3D" style="background-color:#01b3e3;border-collapse:separate!important;border-top:10px solid #01b3e3;border-bottom:10px solid #01b3e3;border-right:50px solid #01b3e3;border-left:50px solid #01b3e3;border-radius:4px;color:#ffffff;color:#ffffff!important;display:inline-block;font-family:'Open+Sans','Open Sans',Helvetica,Arial,sans-serif;font-size:13px;font-weight:semibold;text-align:center;text-decoration:none;letter-spacing:2px" title="Link: https://classroom.udacity.com/me" target="_blank" data-saferedirecturl="https://www.google.com/url?hl=en&amp;q=http://click.udacity.com/wf/click?upn%3DcxW5taFDwNPiBlnjFn-2BIG0ypk2YE4IZomQJHId-2Brw-2BEcurvjgT1rksjwfzR-2B3j9Y5mIig3h-2FJQ9riFFNuO-2FEPy3ktqyaEoEOOgXRMXY72LNDUQEK-2BIS2ow-2Fenx97-2FkoEZrdf03z4-2Bbu4WlU8qssPSnwpWmrru9YqlNnPLCq74r6hSsgPdBr76DU29CuGN4Rc2LXZB38-2BFLdao70w2lF4oW1qXWBsqKu6wmqxO8wm6pOvvHRVEowHIdeEX2ZOiEV0z0SspXXluebRZQg7fyuBaAt2VoUOjznG1IENEBxSyC-2FScV3zdxfrcIOBsczOS5HQaDeF1ggjdO1GZ3RFQ-2BFa-2BLjMQYdfTo6ej4JifwSIOEBgPnYefKn5cx974suUJiHs_DBVLJ0CvsxgxpopeyHXOVsV-2FhAQSrhnf0T0oDEtb66eCWCBrtl2ZKGyVr8UUGR05iCsGwUfrB7PGUJtU3hmSRX8A9ldlHto8avFm-2FmpIVIWZ1cEAscZomXKvYNIyHgPTo0E23Z6iXl5X3zxAVnav4PggiGET3Vv1LJks31QEuhBWDD4wyQFTbo5RyOw7bLxLsbtpKmc2kdZsR6L4xwXRrMlh14CaCdkLa-2FiiI-2B9zzn0QORTlgWe3JyTtpsd92sT9KdCDA06RhrL0islMwrpJsaKOdIUkjTenT3y75srgA0flovIBFKAmGVeENcGlPLHhi6QLm-2FqG8P9-2FBUOah9wTZ1CfKGfixVXIh2SBJUz-2Flk7MfmlHjdGEIm-2FZYcXy5Il5Mepp70fCtYMagK4xLsHIS5Aau8Vncx-2Fer9QBtiGonuuNRjsjhDLbMZ5SxGsnSzSMI0o1Muqb-2BzvFY3tjfYUOJSNXCLzYn-2FYqPic1YifQgzKFxWocmoPP1PRjeqfmB2toUaiFdBul5yi80SHiEnp248rriTiZRoSciMoPES-2FWzlNJjt1ygRyF6aCY7rr5fSG-2FYDuAhlpfV25JrKGnXigCLOsQmG0UWfhQu2onO3ZzsTCzCD6rz7aefyPtLSPioa6Rfv40JPHYLbT6y-2BuDdzSSzO7LqmFwSOwcikABpl76V8QiYLfAD4rmpP0l5rCGL3uMoIAwsbF6LHDYzxKnnvZKb-2BKgmVqvL9BYUzmrw3mSeahbU5XnsSuQ-2BZCkGFwiWUpcndKKOO1mmiJ-2FCxzQXquvT6UVAPFslFMYL2EJNTscQe5iQXkBVA83Mgw9EMQoKeKcajggSoQipTpfPkOty8MA7UOWL581Kp3XA6eaFTKIK8Uo0yl8WnRmUGlQxhLYeNcqDJajYpbVYyN-2FWd1rw-2B3-2B0T-2B3FX9DQwfjSHF4JOFP1I2gXBeX5OVUhND0A32OIebEyB-2F-2Bb0kS1cminGRVK60-2FL0g-2F-2BHpMD2VlpAZI6XxkvFI-3D&amp;source=gmail&amp;ust=1475488607332000&amp;usg=AFQjCNFQsaIUoJabBYII3hSIwGI7527UzA">GO&nbsp;TO&nbsp;CLASS</a>
                                                                    
                                                                    </td>
                                                                </tr>
                                                            </tbody>
</table>
                                                        </td>
                                                    </tr>
                                                </tbody>
</table>
                                            </div>
                                            
                                        </td>
                                    </tr>
                                    <tr>
                                        <td style="text-align:center;padding:40px 50px 0px 50px">
                                            


                                            

                                            

                                            
                                        </td>
                                    </tr>
                                    <tr>
                                       <td align="center">
                                        
                                       </td>
                                    </tr>
                                    <tr>
                                        <td bgcolor="#e0e2e5" style="height:1px;width:100%;line-height:1px;font-size:0">&nbsp;</td>
                                    </tr>
                                    <tr>
                                        <td bgcolor="#e0e2e4" style="height:1px;width:100%;line-height:1px;font-size:0">&nbsp;</td>
                                    </tr>
                                    <tr>
                                        <td bgcolor="#e8ebed" style="height:1px;width:100%;line-height:1px;font-size:0">&nbsp;</td>
                                    </tr>
                                    <tr>
                                        <td bgcolor="#f1f3f6" style="height:1px;width:100%;line-height:1px;font-size:0">&nbsp;</td>
                                    </tr>
                                </tbody>
</table>
                            </td>
                            <td bgcolor="#edeef1" style="width:1px;font-size:1px">&nbsp;</td>
                            <td bgcolor="#f0f2f3" style="width:1px;font-size:1px">&nbsp;</td>
                            <td bgcolor="#f5f6f7" style="width:1px;font-size:1px">&nbsp;</td>
                            <td bgcolor="#fafbfc" style="width:7px;font-size:1px">&nbsp;</td>
                        </tr>
                    </tbody>
</table>
                </td>
            </tr>
            
            <tr>
                <td style="text-align:center;padding:0">
                    
                    <div style="display:inline-block;width:100%;max-width:520px;vertical-align:top">
                        <table border="0" cellpadding="0" cellspacing="0" style="width:100%">
                            <tbody>
<tr>
                                <td align="center" style="padding:30px 0;border-bottom:1px solid #e5ebef">
                                    <table border="0" cellpadding="0" cellspacing="0" style="width:265px">
                                        <tbody>
<tr>
                                            <td align="center"><a href="http://click.udacity.com/wf/click?upn=HnkdQnYtL5GcRgXVpV7XAI3vI9GU0bSeJjQHD-2F2BJVw4zZD0H7ToEDrsSPT3TEO-2F2RilfuP4OtxuWbS1D0d9ZHf1tseNOPe9s1UOcJgCxuikwYKzjFxNcuIzNW9kje4YtySyKwOXbXtSQ6Vj5kpOvuvJOwCrFht99n6Hw-2B-2BhZdar66PjZWzBCJhsE64XZhufbcLRPT5VPnHpgVArUy7ElSnuRpnh-2FdRPNMANoABzdLe6CgENGZRUNoYx9b3EruDeACbbboD8Lwg6mnSK0P-2BrYrr-2FIEn2amO6yYpmhjAwSwxPH-2BwGruhFSHHx4YZTo1udzkdAaekVS-2BxGult8nvPwcpeGX5UU5gCMOKUYD8ISudJcz9ninxx-2BWdgyI3w7UzMwayUN33S-2FIza362-2B-2ByoHnKg-3D-3D_DBVLJ0CvsxgxpopeyHXOVsV-2FhAQSrhnf0T0oDEtb66eCWCBrtl2ZKGyVr8UUGR05iCsGwUfrB7PGUJtU3hmSRX8A9ldlHto8avFm-2FmpIVIWZ1cEAscZomXKvYNIyHgPTo0E23Z6iXl5X3zxAVnav4PggiGET3Vv1LJks31QEuhBWDD4wyQFTbo5RyOw7bLxLsbtpKmc2kdZsR6L4xwXRrMlh14CaCdkLa-2FiiI-2B9zzn0QORTlgWe3JyTtpsd92sT9KdCDA06RhrL0islMwrpJsaKOdIUkjTenT3y75srgA0flovIBFKAmGVeENcGlPLHhi6QLm-2FqG8P9-2FBUOah9wTZ1CfKGfixVXIh2SBJUz-2Flk7MfmlHjdGEIm-2FZYcXy5Il5Mepp70fCtYMagK4xLsHIS5Aau8Vncx-2Fer9QBtiGonuuNRjsjhDLbMZ5SxGsnSzSMI0o1Muqb-2BzvFY3tjfYUOJSNXCLzYn-2FYqPic1YifQgzKFxWocmoPP1PRjeqfmB2toUaiFdBul5yi80SHiEnp248rriTiZRoSciMoPES-2FWzlNJjt1ygRyF6aCY7rr5fSG-2FYDuAhlpfV25JrKGnXigCLOsQmG0UWfhQu2onO3ZzsTCzCD6rz7aefyPtLSPioa6Rfv40JPHYLbT6y-2BuDdzSSzO7LqmFwSOwcikABpl76V8QiYLfAD4rmpP0l5rCGL3uMoIAwsbF6LHDYzxKnnvZKb-2BKgmVqvL9BYUzmrw3mSeahbU5XnsSuQ-2BZCkGFwiWUpcndKKOO1mmiJ-2FCxzQXquvTx38bYL3KA1Pygocii1AqZNfzoYRao-2BhWl506Mt2rNW14aJa1ThBv2eD1KxX2-2FK7-2Bmz8hd2ZjuhQ3QL9XlbSdDt14Libt8JqD5Ch6z0px3zRlAVSS4B3rxaktirseYx89gVQtohzBKX8OTUkds0KrC3m59fgbcOrCOD6u2Tpyg-2F-2FWokSGift3S6BGwqCq2pGsvbAPiwlf6-2FnK78kvDBU5ho-3D" target="_blank" data-saferedirecturl="https://www.google.com/url?hl=en&amp;q=http://click.udacity.com/wf/click?upn%3DHnkdQnYtL5GcRgXVpV7XAI3vI9GU0bSeJjQHD-2F2BJVw4zZD0H7ToEDrsSPT3TEO-2F2RilfuP4OtxuWbS1D0d9ZHf1tseNOPe9s1UOcJgCxuikwYKzjFxNcuIzNW9kje4YtySyKwOXbXtSQ6Vj5kpOvuvJOwCrFht99n6Hw-2B-2BhZdar66PjZWzBCJhsE64XZhufbcLRPT5VPnHpgVArUy7ElSnuRpnh-2FdRPNMANoABzdLe6CgENGZRUNoYx9b3EruDeACbbboD8Lwg6mnSK0P-2BrYrr-2FIEn2amO6yYpmhjAwSwxPH-2BwGruhFSHHx4YZTo1udzkdAaekVS-2BxGult8nvPwcpeGX5UU5gCMOKUYD8ISudJcz9ninxx-2BWdgyI3w7UzMwayUN33S-2FIza362-2B-2ByoHnKg-3D-3D_DBVLJ0CvsxgxpopeyHXOVsV-2FhAQSrhnf0T0oDEtb66eCWCBrtl2ZKGyVr8UUGR05iCsGwUfrB7PGUJtU3hmSRX8A9ldlHto8avFm-2FmpIVIWZ1cEAscZomXKvYNIyHgPTo0E23Z6iXl5X3zxAVnav4PggiGET3Vv1LJks31QEuhBWDD4wyQFTbo5RyOw7bLxLsbtpKmc2kdZsR6L4xwXRrMlh14CaCdkLa-2FiiI-2B9zzn0QORTlgWe3JyTtpsd92sT9KdCDA06RhrL0islMwrpJsaKOdIUkjTenT3y75srgA0flovIBFKAmGVeENcGlPLHhi6QLm-2FqG8P9-2FBUOah9wTZ1CfKGfixVXIh2SBJUz-2Flk7MfmlHjdGEIm-2FZYcXy5Il5Mepp70fCtYMagK4xLsHIS5Aau8Vncx-2Fer9QBtiGonuuNRjsjhDLbMZ5SxGsnSzSMI0o1Muqb-2BzvFY3tjfYUOJSNXCLzYn-2FYqPic1YifQgzKFxWocmoPP1PRjeqfmB2toUaiFdBul5yi80SHiEnp248rriTiZRoSciMoPES-2FWzlNJjt1ygRyF6aCY7rr5fSG-2FYDuAhlpfV25JrKGnXigCLOsQmG0UWfhQu2onO3ZzsTCzCD6rz7aefyPtLSPioa6Rfv40JPHYLbT6y-2BuDdzSSzO7LqmFwSOwcikABpl76V8QiYLfAD4rmpP0l5rCGL3uMoIAwsbF6LHDYzxKnnvZKb-2BKgmVqvL9BYUzmrw3mSeahbU5XnsSuQ-2BZCkGFwiWUpcndKKOO1mmiJ-2FCxzQXquvTx38bYL3KA1Pygocii1AqZNfzoYRao-2BhWl506Mt2rNW14aJa1ThBv2eD1KxX2-2FK7-2Bmz8hd2ZjuhQ3QL9XlbSdDt14Libt8JqD5Ch6z0px3zRlAVSS4B3rxaktirseYx89gVQtohzBKX8OTUkds0KrC3m59fgbcOrCOD6u2Tpyg-2F-2FWokSGift3S6BGwqCq2pGsvbAPiwlf6-2FnK78kvDBU5ho-3D&amp;source=gmail&amp;ust=1475488607333000&amp;usg=AFQjCNExzXR9rkeIezkRQDmfr8w_YhgN4w"><img alt="IOS" border="0" height="44" src="https://ci3.googleusercontent.com/proxy/CjdXG62iCspLYMkW4WTkRL-CPabwGC_D7oZtyKp00K4nGYq6jr0epP4r16objXW1mHpuPErqRt-xoq1p13_o6nKfwVjdU176q_EcgIxJQWkk-In7RB7WPNc=s0-d-e1-ft#https://s3-us-west-2.amazonaws.com/udacity-email/Footer/ios-btn.gif" style="display:block;width:120px!important" width="120" title="Image: https://s3-us-west-2.amazonaws.com/udacity-email/Footer/ios-btn.gif" class="CToWUd"></a></td>
                                            <td align="center"><a href="http://click.udacity.com/wf/click?upn=PSxRa1Io7ndZdJAAeuIwmCMrxq1iTOH2AlN4K6jlzfcW9rtgE-2BZbx2D9rCLOY6fouTDNgB03KA-2BBRzP8v-2B5tIZjDKkPOSDRg42BFdhcYpxeEjXY2wYvPL24YmekdXOgey4VB8j9tgIHqEujUkRI9bjc595UU6yGVF1BvF89y1RV3fX-2BdgrbnQKwzeh-2Bve-2BVXUczmpnUsGRXwFEj1Fl0tdrWB0KHRuKMOgMMSxy3HaT3-2FSx5YaIVdF6pFB95qKF-2B93K-2FdoK-2BoO-2Fn58ZjxDWxj96wLPvhnhpNM6H-2F28fk-2FdfMMoAfDtKNB5h2DGFLJRpsIaURYrxXB9WKTOXEP5fBL5vdcr31Pboq2mD0WnHAnlB2LOULzfDrWu0IptH0NH2gfqlEa3BKnhTtIws9UdJyvrX2dTsQwlA-2FSfVRlzolwMBI-3D_DBVLJ0CvsxgxpopeyHXOVsV-2FhAQSrhnf0T0oDEtb66eCWCBrtl2ZKGyVr8UUGR05iCsGwUfrB7PGUJtU3hmSRX8A9ldlHto8avFm-2FmpIVIWZ1cEAscZomXKvYNIyHgPTo0E23Z6iXl5X3zxAVnav4PggiGET3Vv1LJks31QEuhBWDD4wyQFTbo5RyOw7bLxLsbtpKmc2kdZsR6L4xwXRrMlh14CaCdkLa-2FiiI-2B9zzn0QORTlgWe3JyTtpsd92sT9KdCDA06RhrL0islMwrpJsaKOdIUkjTenT3y75srgA0flovIBFKAmGVeENcGlPLHhi6QLm-2FqG8P9-2FBUOah9wTZ1CfKGfixVXIh2SBJUz-2Flk7MfmlHjdGEIm-2FZYcXy5Il5Mepp70fCtYMagK4xLsHIS5Aau8Vncx-2Fer9QBtiGonuuNRjsjhDLbMZ5SxGsnSzSMI0o1Muqb-2BzvFY3tjfYUOJSNXCLzYn-2FYqPic1YifQgzKFxWocmoPP1PRjeqfmB2toUaiFdBul5yi80SHiEnp248rriTiZRoSciMoPES-2FWzlNJjt1ygRyF6aCY7rr5fSG-2FYDuAhlpfV25JrKGnXigCLOsQmG0UWfhQu2onO3ZzsTCzCD6rz7aefyPtLSPioa6Rfv40JPHYLbT6y-2BuDdzSSzO7LqmFwSOwcikABpl76V8QiYLfAD4rmpP0l5rCGL3uMoIAwsbF6LHDYzxKnnvZKb-2BKgmVqvL9BYUzmrw3mSeahbU5XnsSuQ-2BZCkGFwiWUpcndKKOO1mmiJ-2FCxzQXquvT1IRv5NaEOPThl49ccISVwGLwgUSKNyDoAXQJhGEbl1clWUmmN-2F9LD5wz5HnAhH9Ri7lb9Kxnhd7qbZx4HTQuqbXrjl-2F21h5rcnXlkR9SGelvLzJbTGjLX-2BqDVF1eNejp3MAyWNZq0QMfNgupt2sjMmdIDLyvMlUgoOVIIjmxeH-2FxybRKdyG-2FQ9wpjkjzsX7zHd1rnzS2tE8Nk7XoBHcf94-3D" target="_blank" data-saferedirecturl="https://www.google.com/url?hl=en&amp;q=http://click.udacity.com/wf/click?upn%3DPSxRa1Io7ndZdJAAeuIwmCMrxq1iTOH2AlN4K6jlzfcW9rtgE-2BZbx2D9rCLOY6fouTDNgB03KA-2BBRzP8v-2B5tIZjDKkPOSDRg42BFdhcYpxeEjXY2wYvPL24YmekdXOgey4VB8j9tgIHqEujUkRI9bjc595UU6yGVF1BvF89y1RV3fX-2BdgrbnQKwzeh-2Bve-2BVXUczmpnUsGRXwFEj1Fl0tdrWB0KHRuKMOgMMSxy3HaT3-2FSx5YaIVdF6pFB95qKF-2B93K-2FdoK-2BoO-2Fn58ZjxDWxj96wLPvhnhpNM6H-2F28fk-2FdfMMoAfDtKNB5h2DGFLJRpsIaURYrxXB9WKTOXEP5fBL5vdcr31Pboq2mD0WnHAnlB2LOULzfDrWu0IptH0NH2gfqlEa3BKnhTtIws9UdJyvrX2dTsQwlA-2FSfVRlzolwMBI-3D_DBVLJ0CvsxgxpopeyHXOVsV-2FhAQSrhnf0T0oDEtb66eCWCBrtl2ZKGyVr8UUGR05iCsGwUfrB7PGUJtU3hmSRX8A9ldlHto8avFm-2FmpIVIWZ1cEAscZomXKvYNIyHgPTo0E23Z6iXl5X3zxAVnav4PggiGET3Vv1LJks31QEuhBWDD4wyQFTbo5RyOw7bLxLsbtpKmc2kdZsR6L4xwXRrMlh14CaCdkLa-2FiiI-2B9zzn0QORTlgWe3JyTtpsd92sT9KdCDA06RhrL0islMwrpJsaKOdIUkjTenT3y75srgA0flovIBFKAmGVeENcGlPLHhi6QLm-2FqG8P9-2FBUOah9wTZ1CfKGfixVXIh2SBJUz-2Flk7MfmlHjdGEIm-2FZYcXy5Il5Mepp70fCtYMagK4xLsHIS5Aau8Vncx-2Fer9QBtiGonuuNRjsjhDLbMZ5SxGsnSzSMI0o1Muqb-2BzvFY3tjfYUOJSNXCLzYn-2FYqPic1YifQgzKFxWocmoPP1PRjeqfmB2toUaiFdBul5yi80SHiEnp248rriTiZRoSciMoPES-2FWzlNJjt1ygRyF6aCY7rr5fSG-2FYDuAhlpfV25JrKGnXigCLOsQmG0UWfhQu2onO3ZzsTCzCD6rz7aefyPtLSPioa6Rfv40JPHYLbT6y-2BuDdzSSzO7LqmFwSOwcikABpl76V8QiYLfAD4rmpP0l5rCGL3uMoIAwsbF6LHDYzxKnnvZKb-2BKgmVqvL9BYUzmrw3mSeahbU5XnsSuQ-2BZCkGFwiWUpcndKKOO1mmiJ-2FCxzQXquvT1IRv5NaEOPThl49ccISVwGLwgUSKNyDoAXQJhGEbl1clWUmmN-2F9LD5wz5HnAhH9Ri7lb9Kxnhd7qbZx4HTQuqbXrjl-2F21h5rcnXlkR9SGelvLzJbTGjLX-2BqDVF1eNejp3MAyWNZq0QMfNgupt2sjMmdIDLyvMlUgoOVIIjmxeH-2FxybRKdyG-2FQ9wpjkjzsX7zHd1rnzS2tE8Nk7XoBHcf94-3D&amp;source=gmail&amp;ust=1475488607333000&amp;usg=AFQjCNEGFxL7rMCz7B7IvmyWsEa2jy1yVw"><img alt="Android" border="0" height="44" src="https://ci4.googleusercontent.com/proxy/JrpSZPjt4DhTymAkCCo87BJgPjd7npKKdqI26jd3CCzUCFGEs9QxcIKHQixbVlJrxexkFGQ4HUnHG3D-9kMcKM6jC2Y6BFUumIIiRitHWs9A1rFuP0iwc4Mlb_wE=s0-d-e1-ft#https://s3-us-west-2.amazonaws.com/udacity-email/Footer/android-btn.gif" style="display:block;width:120px!important" width="120" title="Image: https://s3-us-west-2.amazonaws.com/udacity-email/Footer/android-btn.gif" class="CToWUd"></a></td>
                                        </tr>
                                    </tbody>
</table>
                                </td>
                            </tr>
                        </tbody>
</table>
                    </div>
                    
                </td>
            </tr>
            <tr>
                <td align="center" style="padding:30px 0 20px 0">
                    <table border="0" cellpadding="0" cellspacing="0" style="width:220px">
                        <tbody>
<tr>
                            <td align="center"><a href="http://click.udacity.com/wf/click?upn=U2TTcdclIjca5RQ2dot-2FwKyj-2Bpwtm9-2F9iePUfZa6PZzZ1gxs0mL1ozT-2B8GMJM8DeKpaMu-2FWv2nUsllCh4rTyQLOe8DAg7jJmhAWmMVdUG21MBiQeqDn24BqHC80BG8DLFvvEVMzTgPMEKiRvfAOuUlmeQewymgMxwqeaxxtOwuh92Pp2sqUeWyYXtkPEuygUf1JT-2BgVHsb479GQ3lERuoBzx34olYzeCv9IXt43zTDhZ3WnqqXeRtOoibizaB-2FifMTeHeNNapVvgsaNi6z5-2BU0xp43Cko4W43MqmCFF-2BWWf9aJbXxwsd3rqi7EhzzQ07zznuNhu2Gj5QLWTwn0P5jjWjjCAzvVaj5oXYvnABllu3IPThkoZLK1X9R3vPoCpT_DBVLJ0CvsxgxpopeyHXOVsV-2FhAQSrhnf0T0oDEtb66eCWCBrtl2ZKGyVr8UUGR05iCsGwUfrB7PGUJtU3hmSRX8A9ldlHto8avFm-2FmpIVIWZ1cEAscZomXKvYNIyHgPTo0E23Z6iXl5X3zxAVnav4PggiGET3Vv1LJks31QEuhBWDD4wyQFTbo5RyOw7bLxLsbtpKmc2kdZsR6L4xwXRrMlh14CaCdkLa-2FiiI-2B9zzn0QORTlgWe3JyTtpsd92sT9KdCDA06RhrL0islMwrpJsaKOdIUkjTenT3y75srgA0flovIBFKAmGVeENcGlPLHhi6QLm-2FqG8P9-2FBUOah9wTZ1CfKGfixVXIh2SBJUz-2Flk7MfmlHjdGEIm-2FZYcXy5Il5Mepp70fCtYMagK4xLsHIS5Aau8Vncx-2Fer9QBtiGonuuNRjsjhDLbMZ5SxGsnSzSMI0o1Muqb-2BzvFY3tjfYUOJSNXCLzYn-2FYqPic1YifQgzKFxWocmoPP1PRjeqfmB2toUaiFdBul5yi80SHiEnp248rriTiZRoSciMoPES-2FWzlNJjt1ygRyF6aCY7rr5fSG-2FYDuAhlpfV25JrKGnXigCLOsQmG0UWfhQu2onO3ZzsTCzCD6rz7aefyPtLSPioa6Rfv40JPHYLbT6y-2BuDdzSSzO7LqmFwSOwcikABpl76V8QiYLfAD4rmpP0l5rCGL3uMoIAwsbF6LHDYzxKnnvZKb-2BKgmVqvL9BYUzmrw3mSeahbU5XnsSuQ-2BZCkGFwiWUpcndKKOO1mmiJ-2FCxzQXquvTyuLFcQXiuxZiL9D0C0bIrI5rAmQhW9usD4uYx8SuS7GJ59-2BAtdvVqUH-2B-2BDFDPgmCNS62EEHo3SlFeWZIiW64SytRlUxQ1nzxi0KTbCiZy2sfaBDOgvttJNVbnb704F-2BaVy1mJf9QcI-2BHm0-2BI8Sw8AEfVeVmndUPj6aszHn4xXuaAQChopDTqTFgHoAmsH-2B-2BoR7wQGSUVHETRkZ78kg-2B-2FeU-3D" target="_blank" data-saferedirecturl="https://www.google.com/url?hl=en&amp;q=http://click.udacity.com/wf/click?upn%3DU2TTcdclIjca5RQ2dot-2FwKyj-2Bpwtm9-2F9iePUfZa6PZzZ1gxs0mL1ozT-2B8GMJM8DeKpaMu-2FWv2nUsllCh4rTyQLOe8DAg7jJmhAWmMVdUG21MBiQeqDn24BqHC80BG8DLFvvEVMzTgPMEKiRvfAOuUlmeQewymgMxwqeaxxtOwuh92Pp2sqUeWyYXtkPEuygUf1JT-2BgVHsb479GQ3lERuoBzx34olYzeCv9IXt43zTDhZ3WnqqXeRtOoibizaB-2FifMTeHeNNapVvgsaNi6z5-2BU0xp43Cko4W43MqmCFF-2BWWf9aJbXxwsd3rqi7EhzzQ07zznuNhu2Gj5QLWTwn0P5jjWjjCAzvVaj5oXYvnABllu3IPThkoZLK1X9R3vPoCpT_DBVLJ0CvsxgxpopeyHXOVsV-2FhAQSrhnf0T0oDEtb66eCWCBrtl2ZKGyVr8UUGR05iCsGwUfrB7PGUJtU3hmSRX8A9ldlHto8avFm-2FmpIVIWZ1cEAscZomXKvYNIyHgPTo0E23Z6iXl5X3zxAVnav4PggiGET3Vv1LJks31QEuhBWDD4wyQFTbo5RyOw7bLxLsbtpKmc2kdZsR6L4xwXRrMlh14CaCdkLa-2FiiI-2B9zzn0QORTlgWe3JyTtpsd92sT9KdCDA06RhrL0islMwrpJsaKOdIUkjTenT3y75srgA0flovIBFKAmGVeENcGlPLHhi6QLm-2FqG8P9-2FBUOah9wTZ1CfKGfixVXIh2SBJUz-2Flk7MfmlHjdGEIm-2FZYcXy5Il5Mepp70fCtYMagK4xLsHIS5Aau8Vncx-2Fer9QBtiGonuuNRjsjhDLbMZ5SxGsnSzSMI0o1Muqb-2BzvFY3tjfYUOJSNXCLzYn-2FYqPic1YifQgzKFxWocmoPP1PRjeqfmB2toUaiFdBul5yi80SHiEnp248rriTiZRoSciMoPES-2FWzlNJjt1ygRyF6aCY7rr5fSG-2FYDuAhlpfV25JrKGnXigCLOsQmG0UWfhQu2onO3ZzsTCzCD6rz7aefyPtLSPioa6Rfv40JPHYLbT6y-2BuDdzSSzO7LqmFwSOwcikABpl76V8QiYLfAD4rmpP0l5rCGL3uMoIAwsbF6LHDYzxKnnvZKb-2BKgmVqvL9BYUzmrw3mSeahbU5XnsSuQ-2BZCkGFwiWUpcndKKOO1mmiJ-2FCxzQXquvTyuLFcQXiuxZiL9D0C0bIrI5rAmQhW9usD4uYx8SuS7GJ59-2BAtdvVqUH-2B-2BDFDPgmCNS62EEHo3SlFeWZIiW64SytRlUxQ1nzxi0KTbCiZy2sfaBDOgvttJNVbnb704F-2BaVy1mJf9QcI-2BHm0-2BI8Sw8AEfVeVmndUPj6aszHn4xXuaAQChopDTqTFgHoAmsH-2B-2BoR7wQGSUVHETRkZ78kg-2B-2FeU-3D&amp;source=gmail&amp;ust=1475488607333000&amp;usg=AFQjCNGGBWtbzCe05wjd6a15fu1GrsAsow"><img alt="Twitter" border="0" height="26" src="https://ci6.googleusercontent.com/proxy/U9clC4gj5mILp7GA89UxHKnZf6JamOtFpxa9QghfoHeJW12J8rcQJFkGu2RKcEBMzUzEg_tHwEapePRwkiuNIHRvCFCD4lpYv1CzlM-APuMMarY-UzqDZbI=s0-d-e1-ft#https://s3-us-west-2.amazonaws.com/udacity-email/Footer/twitter.jpg" style="display:block;width:26px!important;height:26px!important" width="26" class="CToWUd"></a></td>
                            <td align="center"><a href="http://click.udacity.com/wf/click?upn=2RL1KjfO9zPBjFPLhnA72IxNHfmdTGhbcZix6dBBA-2FpQZ-2B-2FXFwrVyQo-2FenhvPhIdOmSMQVWionVHyPrqA6s7qpzZ1VMN6xrpL5UurKmDqKy3oxgstIyawEF7xkYc6Eb0REvQKB3LDwTOWTUNIlOcfxy7nc2vU94IeHvKVm2e2PRgb-2FDhquibpd4e6Qsyn62qYmRZ8p573-2Fa-2F6uu8mdq-2By-2BCQHp3beKMzfJoogd-2BFkZ1rY6bHvF5jHRcw5QR6aV-2FCYZXU0Y2cYz3ZCzU8XgmTr9OjTxJ-2Fk-2F9r-2FGwWag2ZHRM6fW1vldPlx-2F28puq1FxT2oUAmRq5tNihO7Hxy-2BafIlmiZokjcGrAA6zfFwAEH8IdpNIS-2BmrEODI-2FQyaHHmlFm_DBVLJ0CvsxgxpopeyHXOVsV-2FhAQSrhnf0T0oDEtb66eCWCBrtl2ZKGyVr8UUGR05iCsGwUfrB7PGUJtU3hmSRX8A9ldlHto8avFm-2FmpIVIWZ1cEAscZomXKvYNIyHgPTo0E23Z6iXl5X3zxAVnav4PggiGET3Vv1LJks31QEuhBWDD4wyQFTbo5RyOw7bLxLsbtpKmc2kdZsR6L4xwXRrMlh14CaCdkLa-2FiiI-2B9zzn0QORTlgWe3JyTtpsd92sT9KdCDA06RhrL0islMwrpJsaKOdIUkjTenT3y75srgA0flovIBFKAmGVeENcGlPLHhi6QLm-2FqG8P9-2FBUOah9wTZ1CfKGfixVXIh2SBJUz-2Flk7MfmlHjdGEIm-2FZYcXy5Il5Mepp70fCtYMagK4xLsHIS5Aau8Vncx-2Fer9QBtiGonuuNRjsjhDLbMZ5SxGsnSzSMI0o1Muqb-2BzvFY3tjfYUOJSNXCLzYn-2FYqPic1YifQgzKFxWocmoPP1PRjeqfmB2toUaiFdBul5yi80SHiEnp248rriTiZRoSciMoPES-2FWzlNJjt1ygRyF6aCY7rr5fSG-2FYDuAhlpfV25JrKGnXigCLOsQmG0UWfhQu2onO3ZzsTCzCD6rz7aefyPtLSPioa6Rfv40JPHYLbT6y-2BuDdzSSzO7LqmFwSOwcikABpl76V8QiYLfAD4rmpP0l5rCGL3uMoIAwsbF6LHDYzxKnnvZKb-2BKgmVqvL9BYUzmrw3mSeahbU5XnsSuQ-2BZCkGFwiWUpcndKKOO1mmiJ-2FCxzQXquvTxofECiS6sUmA8lWuecj4Eedbhwq7EsdlRiC6qdROT43eHZ-2F0pqQZHewcGFsOguOzYRNElCYIhbchWRZKj1t8QI8d99Qdo2CBFwZsVVVJBqY-2FXda7U6w8BxAackMB0JaBd3wWj2Mcb4MgqV6Xs8FWBLJIs9CopVLGIdh3PRclC2xs65FxT2Oz6S4JyE3RPODOYKK2iMkFmXePUePvKcyyjI-3D" target="_blank" data-saferedirecturl="https://www.google.com/url?hl=en&amp;q=http://click.udacity.com/wf/click?upn%3D2RL1KjfO9zPBjFPLhnA72IxNHfmdTGhbcZix6dBBA-2FpQZ-2B-2FXFwrVyQo-2FenhvPhIdOmSMQVWionVHyPrqA6s7qpzZ1VMN6xrpL5UurKmDqKy3oxgstIyawEF7xkYc6Eb0REvQKB3LDwTOWTUNIlOcfxy7nc2vU94IeHvKVm2e2PRgb-2FDhquibpd4e6Qsyn62qYmRZ8p573-2Fa-2F6uu8mdq-2By-2BCQHp3beKMzfJoogd-2BFkZ1rY6bHvF5jHRcw5QR6aV-2FCYZXU0Y2cYz3ZCzU8XgmTr9OjTxJ-2Fk-2F9r-2FGwWag2ZHRM6fW1vldPlx-2F28puq1FxT2oUAmRq5tNihO7Hxy-2BafIlmiZokjcGrAA6zfFwAEH8IdpNIS-2BmrEODI-2FQyaHHmlFm_DBVLJ0CvsxgxpopeyHXOVsV-2FhAQSrhnf0T0oDEtb66eCWCBrtl2ZKGyVr8UUGR05iCsGwUfrB7PGUJtU3hmSRX8A9ldlHto8avFm-2FmpIVIWZ1cEAscZomXKvYNIyHgPTo0E23Z6iXl5X3zxAVnav4PggiGET3Vv1LJks31QEuhBWDD4wyQFTbo5RyOw7bLxLsbtpKmc2kdZsR6L4xwXRrMlh14CaCdkLa-2FiiI-2B9zzn0QORTlgWe3JyTtpsd92sT9KdCDA06RhrL0islMwrpJsaKOdIUkjTenT3y75srgA0flovIBFKAmGVeENcGlPLHhi6QLm-2FqG8P9-2FBUOah9wTZ1CfKGfixVXIh2SBJUz-2Flk7MfmlHjdGEIm-2FZYcXy5Il5Mepp70fCtYMagK4xLsHIS5Aau8Vncx-2Fer9QBtiGonuuNRjsjhDLbMZ5SxGsnSzSMI0o1Muqb-2BzvFY3tjfYUOJSNXCLzYn-2FYqPic1YifQgzKFxWocmoPP1PRjeqfmB2toUaiFdBul5yi80SHiEnp248rriTiZRoSciMoPES-2FWzlNJjt1ygRyF6aCY7rr5fSG-2FYDuAhlpfV25JrKGnXigCLOsQmG0UWfhQu2onO3ZzsTCzCD6rz7aefyPtLSPioa6Rfv40JPHYLbT6y-2BuDdzSSzO7LqmFwSOwcikABpl76V8QiYLfAD4rmpP0l5rCGL3uMoIAwsbF6LHDYzxKnnvZKb-2BKgmVqvL9BYUzmrw3mSeahbU5XnsSuQ-2BZCkGFwiWUpcndKKOO1mmiJ-2FCxzQXquvTxofECiS6sUmA8lWuecj4Eedbhwq7EsdlRiC6qdROT43eHZ-2F0pqQZHewcGFsOguOzYRNElCYIhbchWRZKj1t8QI8d99Qdo2CBFwZsVVVJBqY-2FXda7U6w8BxAackMB0JaBd3wWj2Mcb4MgqV6Xs8FWBLJIs9CopVLGIdh3PRclC2xs65FxT2Oz6S4JyE3RPODOYKK2iMkFmXePUePvKcyyjI-3D&amp;source=gmail&amp;ust=1475488607333000&amp;usg=AFQjCNEdGAg2vF4kxwc79k7xYrxR_LWsBQ"><img alt="Facebook" border="0" height="26" src="https://ci6.googleusercontent.com/proxy/xsaQ9NDtOv41CW64e__wH4YCKlfluhgEHBGoJyKkhkZldZfEAiwzc4FolDLIDPg3QNo9NI9i3CWiYScmq-H5rtkqFR2PfmCE3sn6c05idFVZCdERB9BGPCjp=s0-d-e1-ft#https://s3-us-west-2.amazonaws.com/udacity-email/Footer/facebook.jpg" style="display:block;width:26px!important;height:26px!important" width="26" class="CToWUd"></a></td>
                            <td align="center"><a href="http://click.udacity.com/wf/click?upn=PSxRa1Io7ndZdJAAeuIwmOJJ09lfN1769XkZmqX-2Bk9OlxKJVdRSD1kflS7anxCS4RfKnE9gC-2BpIuSFS-2B5jZrx50BNOwELJn6FSZ342nLLN2YTQystOlOM7-2BH1LnLa7mmFmP5-2BjDIjVYV5Sg5iwM7FRruPzflf25vPbCR7KEZ0RIyGJkNhz1OkQtaeYK3av3MW8Xc53C2Zhv0OziLJOjt-2FEF-2FKrHq5E-2BsvRjqcVZQsCyXNelmIZXjEPAjdh57Qt6x9wqdE92hKM78iJq1Nyt1VjoS-2Fn70BSeKgZGZ-2Fj4QSzmkomVXiC9VGKuFI9lbiyfCtNLKSUkdhvt8M9Px-2FFIZuOs0Z5sm0tt5JQpU1n2AkXlng2iXKwtzml2Qjhgye2n3_DBVLJ0CvsxgxpopeyHXOVsV-2FhAQSrhnf0T0oDEtb66eCWCBrtl2ZKGyVr8UUGR05iCsGwUfrB7PGUJtU3hmSRX8A9ldlHto8avFm-2FmpIVIWZ1cEAscZomXKvYNIyHgPTo0E23Z6iXl5X3zxAVnav4PggiGET3Vv1LJks31QEuhBWDD4wyQFTbo5RyOw7bLxLsbtpKmc2kdZsR6L4xwXRrMlh14CaCdkLa-2FiiI-2B9zzn0QORTlgWe3JyTtpsd92sT9KdCDA06RhrL0islMwrpJsaKOdIUkjTenT3y75srgA0flovIBFKAmGVeENcGlPLHhi6QLm-2FqG8P9-2FBUOah9wTZ1CfKGfixVXIh2SBJUz-2Flk7MfmlHjdGEIm-2FZYcXy5Il5Mepp70fCtYMagK4xLsHIS5Aau8Vncx-2Fer9QBtiGonuuNRjsjhDLbMZ5SxGsnSzSMI0o1Muqb-2BzvFY3tjfYUOJSNXCLzYn-2FYqPic1YifQgzKFxWocmoPP1PRjeqfmB2toUaiFdBul5yi80SHiEnp248rriTiZRoSciMoPES-2FWzlNJjt1ygRyF6aCY7rr5fSG-2FYDuAhlpfV25JrKGnXigCLOsQmG0UWfhQu2onO3ZzsTCzCD6rz7aefyPtLSPioa6Rfv40JPHYLbT6y-2BuDdzSSzO7LqmFwSOwcikABpl76V8QiYLfAD4rmpP0l5rCGL3uMoIAwsbF6LHDYzxKnnvZKb-2BKgmVqvL9BYUzmrw3mSeahbU5XnsSuQ-2BZCkGFwiWUpcndKKOO1mmiJ-2FCxzQXquvTySqkVg3L3ap6L9c2nYzhxe7hf7-2FEP07NF-2FWgPV1iHi6eba5OtLUvmYq-2FaLqRTI1-2B3B8rbqNzPh3hPnOJG8zwTY1fI242vMW7NA0KgGj68vJCcO3zLs5qe3x1lTTG9egCx3Ab5I09JO2Zp3F-2FBiYMOCMUeUyiL1eo5vktDxZ-2FU7kI-2BpFnhwy-2F6NhNZAItEfccGZ1PqiE-2FO6DPHk7CC7y7qI-3D" target="_blank" data-saferedirecturl="https://www.google.com/url?hl=en&amp;q=http://click.udacity.com/wf/click?upn%3DPSxRa1Io7ndZdJAAeuIwmOJJ09lfN1769XkZmqX-2Bk9OlxKJVdRSD1kflS7anxCS4RfKnE9gC-2BpIuSFS-2B5jZrx50BNOwELJn6FSZ342nLLN2YTQystOlOM7-2BH1LnLa7mmFmP5-2BjDIjVYV5Sg5iwM7FRruPzflf25vPbCR7KEZ0RIyGJkNhz1OkQtaeYK3av3MW8Xc53C2Zhv0OziLJOjt-2FEF-2FKrHq5E-2BsvRjqcVZQsCyXNelmIZXjEPAjdh57Qt6x9wqdE92hKM78iJq1Nyt1VjoS-2Fn70BSeKgZGZ-2Fj4QSzmkomVXiC9VGKuFI9lbiyfCtNLKSUkdhvt8M9Px-2FFIZuOs0Z5sm0tt5JQpU1n2AkXlng2iXKwtzml2Qjhgye2n3_DBVLJ0CvsxgxpopeyHXOVsV-2FhAQSrhnf0T0oDEtb66eCWCBrtl2ZKGyVr8UUGR05iCsGwUfrB7PGUJtU3hmSRX8A9ldlHto8avFm-2FmpIVIWZ1cEAscZomXKvYNIyHgPTo0E23Z6iXl5X3zxAVnav4PggiGET3Vv1LJks31QEuhBWDD4wyQFTbo5RyOw7bLxLsbtpKmc2kdZsR6L4xwXRrMlh14CaCdkLa-2FiiI-2B9zzn0QORTlgWe3JyTtpsd92sT9KdCDA06RhrL0islMwrpJsaKOdIUkjTenT3y75srgA0flovIBFKAmGVeENcGlPLHhi6QLm-2FqG8P9-2FBUOah9wTZ1CfKGfixVXIh2SBJUz-2Flk7MfmlHjdGEIm-2FZYcXy5Il5Mepp70fCtYMagK4xLsHIS5Aau8Vncx-2Fer9QBtiGonuuNRjsjhDLbMZ5SxGsnSzSMI0o1Muqb-2BzvFY3tjfYUOJSNXCLzYn-2FYqPic1YifQgzKFxWocmoPP1PRjeqfmB2toUaiFdBul5yi80SHiEnp248rriTiZRoSciMoPES-2FWzlNJjt1ygRyF6aCY7rr5fSG-2FYDuAhlpfV25JrKGnXigCLOsQmG0UWfhQu2onO3ZzsTCzCD6rz7aefyPtLSPioa6Rfv40JPHYLbT6y-2BuDdzSSzO7LqmFwSOwcikABpl76V8QiYLfAD4rmpP0l5rCGL3uMoIAwsbF6LHDYzxKnnvZKb-2BKgmVqvL9BYUzmrw3mSeahbU5XnsSuQ-2BZCkGFwiWUpcndKKOO1mmiJ-2FCxzQXquvTySqkVg3L3ap6L9c2nYzhxe7hf7-2FEP07NF-2FWgPV1iHi6eba5OtLUvmYq-2FaLqRTI1-2B3B8rbqNzPh3hPnOJG8zwTY1fI242vMW7NA0KgGj68vJCcO3zLs5qe3x1lTTG9egCx3Ab5I09JO2Zp3F-2FBiYMOCMUeUyiL1eo5vktDxZ-2FU7kI-2BpFnhwy-2F6NhNZAItEfccGZ1PqiE-2FO6DPHk7CC7y7qI-3D&amp;source=gmail&amp;ust=1475488607334000&amp;usg=AFQjCNFuWtttFtALL0SLI-OKBXBiIGDUyA"><img alt="Google" border="0" height="26" src="https://ci5.googleusercontent.com/proxy/wWCkxbN9pdd1O7SLifVMN9iprROUQTi8zuJ8C_d6sb4mGtG8YJz1-QeX7lwDafSL_BBco2eiDMjaPn2j3dATMJ9P8ozXxd0qnKcsUDx01gyKj32-oYOhTg=s0-d-e1-ft#https://s3-us-west-2.amazonaws.com/udacity-email/Footer/google.jpg" style="display:block;width:28px!important;height:26px!important" width="28" class="CToWUd"></a></td>
                            <td align="center"><a href="http://click.udacity.com/wf/click?upn=2RL1KjfO9zPBjFPLhnA72J0-2BBEuQfDFedmT0v7MyjG-2FK3itpirDfqBhb1vnpKpAMSQxffTtQBS4MK5iy0zNwvG8GVBsRWBQCKjDHT8rW9Rq1WVyo0aNOcK8xurhuuEYi2dQA5-2FStS91RF2dOPO2CJtQD3giSNweSfhBwjm-2BHi0gFgK78Q7HVY3qWx8vn-2BKTnhwtN76bTLO5XLteqaO-2FWCD6AC3tpc-2Fgx5kDi36geoSm9TiQ0-2FJOr5S9Z-2BX4T6UxEbT5LurtjfRSncQVJIMeVvVgsJJkwlVDGoFB7-2BbUtaNvwA84kE28DQvg-2FJIkdm1W8qgubeW0JREYpQb8Rg0ez9WPh8j4ZXnlgd4NvnVwnI4b9vLF9o58OmLJvBhjJlJ3elGucfFfJopsgw2vde-2BF09w-3D-3D_DBVLJ0CvsxgxpopeyHXOVsV-2FhAQSrhnf0T0oDEtb66eCWCBrtl2ZKGyVr8UUGR05iCsGwUfrB7PGUJtU3hmSRX8A9ldlHto8avFm-2FmpIVIWZ1cEAscZomXKvYNIyHgPTo0E23Z6iXl5X3zxAVnav4PggiGET3Vv1LJks31QEuhBWDD4wyQFTbo5RyOw7bLxLsbtpKmc2kdZsR6L4xwXRrMlh14CaCdkLa-2FiiI-2B9zzn0QORTlgWe3JyTtpsd92sT9KdCDA06RhrL0islMwrpJsaKOdIUkjTenT3y75srgA0flovIBFKAmGVeENcGlPLHhi6QLm-2FqG8P9-2FBUOah9wTZ1CfKGfixVXIh2SBJUz-2Flk7MfmlHjdGEIm-2FZYcXy5Il5Mepp70fCtYMagK4xLsHIS5Aau8Vncx-2Fer9QBtiGonuuNRjsjhDLbMZ5SxGsnSzSMI0o1Muqb-2BzvFY3tjfYUOJSNXCLzYn-2FYqPic1YifQgzKFxWocmoPP1PRjeqfmB2toUaiFdBul5yi80SHiEnp248rriTiZRoSciMoPES-2FWzlNJjt1ygRyF6aCY7rr5fSG-2FYDuAhlpfV25JrKGnXigCLOsQmG0UWfhQu2onO3ZzsTCzCD6rz7aefyPtLSPioa6Rfv40JPHYLbT6y-2BuDdzSSzO7LqmFwSOwcikABpl76V8QiYLfAD4rmpP0l5rCGL3uMoIAwsbF6LHDYzxKnnvZKb-2BKgmVqvL9BYUzmrw3mSeahbU5XnsSuQ-2BZCkGFwiWUpcndKKOO1mmiJ-2FCxzQXquvT96IcQzqGrpXojuf0cTws6p4k54rJ8ZW1RkHC-2FuIeva4LZnHM0PsAaMGZpoZ1IalBFDBnqz2oxIQ-2BZqDZ1VKdFWazg35YuQDkk64RoznvXffi3BpI2S7razO1pafAKNvlbyOzAGe9Horn0AbVTwkB9nIWWpiWGlvsczmwGy2IIb9S-2F4eXRjpH-2FQumURBFWvrrX7u68PBuO9GQ0LCuqkjg04-3D" target="_blank" data-saferedirecturl="https://www.google.com/url?hl=en&amp;q=http://click.udacity.com/wf/click?upn%3D2RL1KjfO9zPBjFPLhnA72J0-2BBEuQfDFedmT0v7MyjG-2FK3itpirDfqBhb1vnpKpAMSQxffTtQBS4MK5iy0zNwvG8GVBsRWBQCKjDHT8rW9Rq1WVyo0aNOcK8xurhuuEYi2dQA5-2FStS91RF2dOPO2CJtQD3giSNweSfhBwjm-2BHi0gFgK78Q7HVY3qWx8vn-2BKTnhwtN76bTLO5XLteqaO-2FWCD6AC3tpc-2Fgx5kDi36geoSm9TiQ0-2FJOr5S9Z-2BX4T6UxEbT5LurtjfRSncQVJIMeVvVgsJJkwlVDGoFB7-2BbUtaNvwA84kE28DQvg-2FJIkdm1W8qgubeW0JREYpQb8Rg0ez9WPh8j4ZXnlgd4NvnVwnI4b9vLF9o58OmLJvBhjJlJ3elGucfFfJopsgw2vde-2BF09w-3D-3D_DBVLJ0CvsxgxpopeyHXOVsV-2FhAQSrhnf0T0oDEtb66eCWCBrtl2ZKGyVr8UUGR05iCsGwUfrB7PGUJtU3hmSRX8A9ldlHto8avFm-2FmpIVIWZ1cEAscZomXKvYNIyHgPTo0E23Z6iXl5X3zxAVnav4PggiGET3Vv1LJks31QEuhBWDD4wyQFTbo5RyOw7bLxLsbtpKmc2kdZsR6L4xwXRrMlh14CaCdkLa-2FiiI-2B9zzn0QORTlgWe3JyTtpsd92sT9KdCDA06RhrL0islMwrpJsaKOdIUkjTenT3y75srgA0flovIBFKAmGVeENcGlPLHhi6QLm-2FqG8P9-2FBUOah9wTZ1CfKGfixVXIh2SBJUz-2Flk7MfmlHjdGEIm-2FZYcXy5Il5Mepp70fCtYMagK4xLsHIS5Aau8Vncx-2Fer9QBtiGonuuNRjsjhDLbMZ5SxGsnSzSMI0o1Muqb-2BzvFY3tjfYUOJSNXCLzYn-2FYqPic1YifQgzKFxWocmoPP1PRjeqfmB2toUaiFdBul5yi80SHiEnp248rriTiZRoSciMoPES-2FWzlNJjt1ygRyF6aCY7rr5fSG-2FYDuAhlpfV25JrKGnXigCLOsQmG0UWfhQu2onO3ZzsTCzCD6rz7aefyPtLSPioa6Rfv40JPHYLbT6y-2BuDdzSSzO7LqmFwSOwcikABpl76V8QiYLfAD4rmpP0l5rCGL3uMoIAwsbF6LHDYzxKnnvZKb-2BKgmVqvL9BYUzmrw3mSeahbU5XnsSuQ-2BZCkGFwiWUpcndKKOO1mmiJ-2FCxzQXquvT96IcQzqGrpXojuf0cTws6p4k54rJ8ZW1RkHC-2FuIeva4LZnHM0PsAaMGZpoZ1IalBFDBnqz2oxIQ-2BZqDZ1VKdFWazg35YuQDkk64RoznvXffi3BpI2S7razO1pafAKNvlbyOzAGe9Horn0AbVTwkB9nIWWpiWGlvsczmwGy2IIb9S-2F4eXRjpH-2FQumURBFWvrrX7u68PBuO9GQ0LCuqkjg04-3D&amp;source=gmail&amp;ust=1475488607334000&amp;usg=AFQjCNFjSYSqV0gOaFP7j57eIZT8-y3ZRw"><img alt="Linkedin" border="0" height="26" src="https://ci6.googleusercontent.com/proxy/5sWPGV5xdXcVVU85QaGvc_A4fugkwtMnEiPEDqvhELwlapYu9iBNdhvOjghMytm1AEqXOVkKNNjWhVSQAVxokxFiPT_0IponNWb9Ny4ofKw9_aVWATdpBk5E=s0-d-e1-ft#https://s3-us-west-2.amazonaws.com/udacity-email/Footer/linkedin.jpg" style="display:block;width:26px!important;height:26px!important" width="26" class="CToWUd"></a></td>
                        </tr>
                    </tbody>
</table>
                </td>
            </tr>
            <tr>
                <td align="center" style="padding-bottom:40px">
                    <table border="0" cellpadding="0" cellspacing="0" style="font-family:'Open+Sans','Open Sans',Helvetica,Arial,sans-serif;font-size:12px;line-height:18px;color:#b7bdc1;text-align:center;width:auto">
                        <tbody>
<tr>
                            <td style="color:#b7bdc1">
                                <p style="Margin:0"><span class="m_-7587314173862219477appleLinksGrey">2465 Latham St.</span> &nbsp;•&nbsp; <span class="m_-7587314173862219477appleLinksGrey">Mountain View, CA 94040</span></p>

                                <p style="Margin:20px 0 0 0">You've received this email because you enrolled in this course.</p>
                            </td>
                        </tr>
                    </tbody>
</table>
                </td>
            </tr>
   </tbody>
</table>

</div>
<div style="width:100%">
    <table cellpadding="0" cellspacing="0" border="0" style="width:100%">
            <tbody>
<tr>
                <td align="center" bgcolor="#7d97ad" style="padding:10px 0">
                    <table border="0" cellpadding="0" cellspacing="0" style="font-family:'Open+Sans','Open Sans',Helvetica,Arial,sans-serif;font-size:14px;line-height:19px;color:#ffffff;text-align:center;width:auto">
                        <tbody>
<tr>
                            <td style="color:#ffffff">
                                Be in demand
                            </td>
                        </tr>
                    </tbody>
</table>
                </td>
            </tr>
    </tbody>
</table>
    </div>
</center>
<img src="https://ci4.googleusercontent.com/proxy/QqvncQBJEvsULj2OEXeMCCUm0hUjCkS1BprR6tuasVDr3KK9-Vv6lnzugpXmBWdoXL-hUN38T8lTCh9klTZ_7iWji7VzjvUu5I5EfU6Nqlp0LgWS4HKgiLdzDLQRpZlm-sp_LN4hNIgbqU_d1gkXt30YkTe1dfxC6itV9e_eV0B1oX4dJocxZl62r0dLYs4FTh_In6KmYrqtpRFuK3bRxtCX2U9cWh9lr3oogncBzVy_lL6DGo4tB0iEx7f0J94xRXhz4CsRCDF5INn_KiJQ3TR63Z9LkndZbR6XTNSZutVHLnAxbrMuKmfMjpMctSzdC2RP-S7MHFBBbfgNXPx1ATvGkajTn7KHQ-Ip3sxycYBs9qVvQibfVYuqtZuQ4KEnsJIsUr9kk-WsWUZKMiBPGtXSAJSgkuJFyjX291uGLalS9-uwbi_kDDS3x55CU9tSWbN7JUak-huZ230NEYMWMLv9IH_9wiXORPjQebCgCjuMiXLiyvYdZsUjrtTEYiXN6a8KusjChLkKgCkwkyRrkdvDUI9fUsmcYbbo8by1n9pLQVqd1c2-4u200Sss1mc2aXX84QzjIWQUh0lbZYbd1DQZNkP-7gAXS-wu3IQW8ThGhrG69UOHQUau06NN7IzKZj_7ysxVsGFfwCkGJpXMNWOj7aBDBiA3lr5491mLFj0_D7fD7MJ2CyRrX7jkev7qQYzoxr7X7CD1OjR7Vrk7VLPdzt6geNlGM-thsldIgMF83nc01rnZqw_u62rasOPj9zzy_ctCrLe-kHZPddvCIOeZ1kmdXs4zaG9WY2OaT1SB1BEdnAnM7heQmr7sqJ67ANhXQocw5zuNT9xEhu0gU77Zja4V1FTAp7Kib5w0PxNGI3dq9Oh3zfXz5zIk_tWpa2sylcTaR9jv8BSRdeeQyAXdXSORFPmEtBbe7E9b8OYVT7MbMLruldj1IHyo7VQLC6qEKYB1IwLa2Ro65Wf6JoHhuiS5QXyQvJb0ANMkpANqGk7_VrhQLWVvtDGddPSXdFnEFM2FBTme-i7KMaiPsB5FEafMeDN6GuMprEZCI1XDNCvLBiJ1KPvqINJyg4na3A_Bn7--R6Feczw2wZYhkBMxEKuJwWa1cGsUygWNQxvWunk4QXLerOcBjvYZUrkscBWf7t8khrTm7QsMK-a3c-m-Kf_Ey1Z_5tOXiiI7X8nLkfscJDVkmQhvg_2ZLQMfSJ03uQV5yGnKDiscEZZK9rKMMfaicrAFXL5HrtgoDiikgsJeMaHQm5NU1M2alMQoS8yrbWUQ5yvH1VRvtymXQD_n3LWCNKJ798fZIctPuJfDzYeZqX68bzU4Wg09DMZTlWQoi7J9cWN7_J6eXnGzNfhOA-6XWiLoPs6SfQ1h966OtQXFSxWCdnsS0eXFN-Og6Kf3l7OPIsk4ML2QJpgMJ7UAS651NkXA5uuJe2C3x0ABf-pOGrf7d7vtXUhIUGd5Zgow1t1d2Q7hwfIF9VEYJojq=s0-d-e1-ft#http://click.udacity.com/wf/open?upn=DBVLJ0CvsxgxpopeyHXOVsV-2FhAQSrhnf0T0oDEtb66eCWCBrtl2ZKGyVr8UUGR05iCsGwUfrB7PGUJtU3hmSRX8A9ldlHto8avFm-2FmpIVIWZ1cEAscZomXKvYNIyHgPTo0E23Z6iXl5X3zxAVnav4PggiGET3Vv1LJks31QEuhBWDD4wyQFTbo5RyOw7bLxLsbtpKmc2kdZsR6L4xwXRrMlh14CaCdkLa-2FiiI-2B9zzn0QORTlgWe3JyTtpsd92sT9KdCDA06RhrL0islMwrpJsaKOdIUkjTenT3y75srgA0flovIBFKAmGVeENcGlPLHhi6QLm-2FqG8P9-2FBUOah9wTZ1CfKGfixVXIh2SBJUz-2Flk7MfmlHjdGEIm-2FZYcXy5Il5Mepp70fCtYMagK4xLsHIS5Aau8Vncx-2Fer9QBtiGonuuNRjsjhDLbMZ5SxGsnSzSMI0o1Muqb-2BzvFY3tjfYUOJSNXCLzYn-2FYqPic1YifQgzKFxWocmoPP1PRjeqfmB2toUaiFdBul5yi80SHiEnp248rriTiZRoSciMoPES-2FWzlNJjt1ygRyF6aCY7rr5fSG-2FYDuAhlpfV25JrKGnXigCLOsQmG0UWfhQu2onO3ZzsTCzCD6rz7aefyPtLSPioa6Rfv40JPHYLbT6y-2BuDdzSSzO7LqmFwSOwcikABpl76V8QiYLfAD4rmpP0l5rCGL3uMoIAwsbF6LHDYzxKnnvZKb-2BKgmVqvL9BYUzmrw3mSeahbU5XnsSuQ-2BZCkGFwiWUpcndKKOO1mmiJ-2FCxzQXquvT5AWcO4-2F76wNRMXl2TXu1FpI0yl4z5-2Fh9-2B-2FJNaKonmgVxN7t-2B520PVikV-2BLOVqHeu-2B-2BVRdZzKrNFHQPbTWXsafFxfEfl0fRwTiDTW3w-2BYggo15pkCNVZqLeNgUz1PDFM9rbVuuDsD8SmI8WAGRC3tSOhNG5STXdXh7ubCxFUY3hvJZEInter2e8gAdDKSB-2BM4V5663R-2FQYaZOLR5mtJI9K0-3D" alt="" width="1" height="1" border="0" style="height:1px!important;width:1px!important;border-width:0!important;margin-top:0!important;margin-bottom:0!important;margin-right:0!important;margin-left:0!important;padding-top:0!important;padding-bottom:0!important;padding-right:0!important;padding-left:0!important" class="CToWUd"><div class="yj6qo"></div><div class="adL">
</div></div>